.sudoku-keyboard {
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	left: 0;
	width: 100vw;
	height: 100vh;
}

.sudoku-keyboard__close {
	display: inline-block;
	position: absolute;
	width: 15px;
	height: 15px;
	padding: 5px;
	right: 0;
	top: 0;
	cursor: pointer;
	color: #000;
	overflow: hidden;
}

.sudoku-keyboard__close:hover {
	color: #f00;
}

.sudoku-keyboard__keys {
	margin: 0 auto;
	padding: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: #ffffff;
}

.sudoku-keyboard__grid {
	display: grid;
	width: 90px;
	height: 90px;
	grid: 30px 30px 30px/30px 30px 30px;
}

.sudoku-keyboard__key {
	transition: 0.5s linear;
	border: 1px dotted #ccc;
	cursor: pointer;
	color: #000;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.sudoku-keyboard__key:hover {
	transition: 0.25s linear;
	background: #000;
	color: #fff;
}

.sudoku-keyboard__key--current{
	background: #cccccc;
}

.sudoku-keyboard__key--clear {

}
