.sudoku-bar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.sudoku-bar__btn {
	padding: 10px;
	margin: 0 5px 0 0;
	font-weight: bold;
	font-size: 14px;
	border-width: 1px;
	cursor: pointer;
	text-transform: uppercase;
}

.sudoku-bar__btn--run {
	background: green;
	border: 2px solid rgba(0, 128, 0, 0.5);
	color: #fff;
}

.sudoku-bar__btn--calc {
	background: red;
	border: 2px solid rgba(128, 0, 0, 0.5);
	color: #fff;
}

.sudoku-bar__btn:hover {
	animation: 0.5s sudoku-bar__btn---hover linear;
	transform: scale(1);
}

@keyframes sudoku-bar__btn---hover{
	from {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	to {
		transform: scale(1);
	}
}
